name: Docker CI

on:
    push:
        branches: [product]

jobs:
    build-ubuntu:
        runs-on: [runner-01]
        name: Build Ubuntu
        steps:
            - uses: actions/checkout@v4.2.1
            - run: docker compose -f docker-compose.yml up -d --build
            - run: docker image prune -f -a
    # build-windows:
    #   runs-on: [self-hosted]
    #   name: Build Windows
    #   steps:
    #     - uses: actions/checkout@v4.2.1
    #     - run: docker compose -f docker-compose.yml up -d --build
    #     - run: docker image prune -f -a
